<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Data List</title>
</head>
<body>
<h1>HOTELS</h1>
<table>
  <thead>
  <tr>
    <th>Area</th>
    <th>City</th>
    <th>Overview</th>
    <th>Rating</th>
    <th>IsValue</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="data : ${dataList}">
    <td th:text="${data.Area}"></td>
    <td th:text="${data.City}"></td>
    <td th:text="${data.Overview}"></td>
    <td th:text="${data.Rating}"></td>
    <td th:text="${data.IsValue}"></td>
    <td th:text="${data.Address}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
